html,body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: helvetica;
    background: url('background.jpg') no-repeat center;
    background-size: cover;
}

#wrapper {
    width: 50vw;
    overflow: hidden;
    text-align: center;
    color: #fff;
}

#note {
    font-size: 4rem;
    font-weight: 900;
}

#frequency {
    font-weight: 100;
}