html,body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: helvetica;
    background: url('background.jpg') no-repeat center;
    background-size: cover;
}